<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseURL</key>
	<string>https://snkitffkozxfgkaoisxd.supabase.co</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNua2l0ZmZrb3p4ZmdrYW9pc3hkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM3NDg5NzgsImV4cCI6MjA2OTMyNDk3OH0._08hMX09Xp8noGPllIZiX6QSPaQiPjH2akv6TgUZzkc</string>
<key>RevenueCatApiKey</key>
	<string>appl_GqxVzuNYsOlBDWcBEYMuKOzizrI</string>
	<key>LiveSearchAPIURL</key>
	<string>https://ijar-production.up.railway.app</string>
</dict>
</plist>
